<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="W3Solution-app">
        <wb-resource deploy-path="/" source-path="/EarContent" tag="defaultRootSource"/>
        <dependent-module archiveName="W3ExeSolution-EJB.jar" deploy-path="/" handle="module:/resource/W3ExeSolution-EJB/W3ExeSolution-EJB">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="W3ExeSolution-common.jar" deploy-path="/lib" handle="module:/resource/W3ExeSolution-common/W3ExeSolution-common">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="W3ExeSolution-war.war" deploy-path="/" handle="module:/resource/W3ExeSolution-war/W3ExeSolution-war">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
